:root{
    --main-color: black; 
    --secondary-color: gold;
    --text-color: gold;
    --navbar-height: 92px;
}

body{
    font-family: "";

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    height: var(--navbar-height);
}

.logo{
    border:  3px solid var(--secondary-color);
    text-align: center;
    line-height: 1.2;
    color: var(--secondary-color);
    padding: 5px 15px;
    position: relative;
}

.logo::before{
    content:"";
    display: block;
    width: 100%;
    height: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/images.png);/* lägg till bild */ 
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 2;
}

.logo h1{
    font-style: italic;
    font-size: 32px;
}

.logo h2{
    font-style: italic;
    font-size: 12px;
}

nav ul{
    display: flex;
    font-style: italic;
}

nav ul >li a{
    color: var(--text-color);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    padding: 5px 20px
}

nav ul > li:not(:last-child) > a{
    border-right: 2px solid rgba(red, green, blue, alpha);
}

nav ul > li > a:hover{
    color: black;
    background-color: beige;
}